html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;


    --text-wt: hsl(0, 0%, 100%);
    --text-grey-a: hsl(270, 3%, 87%);
    --text-grey-b: hsl(279, 6%, 55%);
    --text-dark: hsl(278, 68%, 11%);
    --err-red: hsl(0, 100%, 66%);

}


body {
  background-image: url("./images//bg-main-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;

  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
}

.container-a {
    position: relative;
    /* border: 1px solid red; */
    width: 100%;
    /* height: 30%; */

    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr); */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card-back {
    /* grid-area: 1/3/7/13; */
    background-image: url(./images//bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* position: absolute;
    top: 0rem;
    right: 0rem; */
    width: 85%;
    max-width: 50rem;
    aspect-ratio: 1.8;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* display: grid;
    grid-template-rows: repeat(7, 1fr) ;
    grid-template-columns: [first] 1rem ;
    padding: 0rem 3rem; */
}

.card-back img {
    top: 0rem;
    left: 0rem;
    position: absolute;
    z-index: 0;
    width: 100%;
}

#card-cvc {
    width: 80%;
    /* border: 1px solid orange; */
    text-align: right;
    /* font-size: 1.2rem; */
    font-size: clamp(1rem, 3.2vw - 0.2rem, 1.8rem);
    letter-spacing: 0.1rem;
    padding: 0.5rem;
    color: var(--text-wt);
}


.card-front{
    position: absolute;
    top: 56%;
    left: 0rem;
    aspect-ratio: 1.8;
    width: 85%;
    max-width: 50rem;
    /* grid-area: 1/3/7/13; */
    background-image: url(./images//bg-card-front.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1.8;
    padding: 5%;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: [one] 1fr;
}

.card-front img {
    width: 100%;
}


.card-logo {
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 3rem;
    aspect-ratio: 1.85;
}

.card-logo svg {
    /* height: 100%;
    width: 100%; */
    /* padding-left: 1rem; */
    transform: scale(0.65);
}

.card-num{
    grid-area: 3/1/4/2;
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    align-items: center;
    padding: 0%;
}

.card-num p {
    /* font-size: 3rem; */
    font-size: clamp(1.5rem, 4.8vw, 3rem);
    color: var(--text-wt);
    letter-spacing: 0.1rem;
}

.card-info {
    grid-area: 4/1/5/2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

.card-info p {
    font-size: 1rem;
    font-size: clamp(1rem, 3.2vw - 0.2rem, 1.8rem);
    color: var(--text-wt);
    letter-spacing: 0.1rem;
}

.card-info p:nth-child(1) {
    flex-grow: 1;
}




.container-b {
    position: relative;
    /* border: 1px solid red; */
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 0.5rem;
}

#card-form {
    width: 100%;
    margin-top: 12rem;
}


.input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1.5rem;
}

.input-item label {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    color: var(--text-dark);
}

.input-item input {
    width: 100%;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    color: var(--text-dark);
    border-radius: 0.75rem;
    border: 1px solid var(--text-grey-a);
}

.input-item input:focus-visible {
    outline: none;
    border: 1px solid var(--text-grey-b);
}

::placeholder {
    color: var(--text-grey-a);
}


.input-items-multipls {
    width: 100%;
}

.label-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    gap: 2rem;
}

.label-container label {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    color: var(--text-dark);
}

.exp-label {
    width: 50%;
}

.cvc-label {
    width: 50%;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-container input {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    color: var(--text-dark);
    border-radius: 0.75rem;
    border: 1px solid var(--text-grey-a);
}

.input-container input:focus-visible {
    outline: none;
    border: 1px solid var(--text-grey-b);
}

#month-in {
 /* flex-grow: 1; */
    width: 25%;
}

#year-in {
/* flex-grow: 1; */
    width: 25%;
}

#cvc-in {
    /* flex-grow: 2; */
    width: 50%;
}

button {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    color: var(--text-wt);
    font-size: 1.8rem;
    background-color: var(--text-dark);
    border-radius: 0.75rem;
    letter-spacing: 0.1rem;
    border: none;
}


#name-err, #num-err {
    font-size: 1rem;
    color: var(--err-red);
    margin-top: 1rem;
}

.error-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.error-container p {
    width: 50%;
    margin-top: 1rem;
    color: var(--err-red);
}

