* {
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    --text-wt: hsl(0, 0%, 100%);
    --text-grey-a: hsl(270, 3%, 87%);
    --text-grey-b: hsl(279, 6%, 55%);
    --text-dark: hsl(278, 68%, 11%);
    --err-red: hsl(0, 100%, 66%);
}

body {

}

main {
    position: relative;
    background-image: url("./images//bg-main-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
}

.container-a {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card-back {
    background-image: url(./images//bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 85%;
    max-width: 50rem;
    aspect-ratio: 1.8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-back img {
    top: 0rem;
    left: 0rem;
    position: absolute;
    z-index: 0;
    width: 100%;
}

#card-cvc {
    width: 80%;
    text-align: right;
    font-size: clamp(1rem, 3.2vw - 0.2rem, 1.8rem);
    letter-spacing: 0.1rem;
    padding: 0.5rem;
    color: var(--text-wt);
}


.card-front{
    position: absolute;
    top: 56%;
    left: 0rem;
    aspect-ratio: 1.8;
    width: 85%;
    max-width: 50rem;
    background-image: url(./images//bg-card-front.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1.8;
    padding: 5%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: [one] 1fr;
}

.card-front img {
    width: 100%;
}

.card-logo {
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    height: 3rem;
    aspect-ratio: 1.85;
    justify-self: start;
    align-self: center;
}

.card-logo img {
    width: 20%;
    aspect-ratio: 1.8;
}

.card-logo svg {
    transform: scale(0.65) translate(-2rem);
}

.card-num{
    grid-area: 3/1/4/2;
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    align-items: center;
    padding: 0%;
}

.card-num p {
    font-size: clamp(1.5rem, 4.8vw, 3rem);
    color: var(--text-wt);
    letter-spacing: 0.1rem;
}

.card-info {
    grid-area: 4/1/5/2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

.card-info p {
    font-size: 1rem;
    font-size: clamp(1rem, 3.2vw - 0.2rem, 1.8rem);
    color: var(--text-wt);
    letter-spacing: 0.1rem;
}

.card-info p:nth-child(1) {
    flex-grow: 1;
}


.container-b {
    position: relative;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 0.5rem;
}

#card-form {
    width: 100%;
    margin-top: 40%;
}


.input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1.5rem;
}

.input-item label {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    color: var(--text-dark);
}

.input-item input {
    width: 100%;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    color: var(--text-dark);
    border-radius: 0.75rem;
    border: 1px solid var(--text-grey-a);
    cursor: pointer;
}

.input-item input.invalid {
    border: 1px solid var(--err-red);
}

.input-item input:focus-visible {
    outline: none;
    border: 1px solid transparent;
    border-radius: 0.75rem;
    background-image: linear-gradient(white, white), linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

::placeholder {
    color: var(--text-grey-a);
}

.input-items-multipls {
    width: 100%;
}

.label-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    gap: 2rem;
}

.label-container label {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    color: var(--text-dark);
}

.exp-label {
    width: 50%;
}

.cvc-label {
    width: 50%;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-container input {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    color: var(--text-dark);
    border-radius: 0.75rem;
    border: 1px solid var(--text-grey-a);
    cursor: pointer;
}

.input-container input.invalid {
    border: 1px solid var(--err-red);
}

.input-container input:focus-visible {
    outline: none;
    border: 1px solid transparent;
    border-radius: 0.75rem;
    background-image: linear-gradient(white, white), linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#month-in {
    width: 25%;
}

#year-in {
    width: 25%;
}

#cvc-in {
    width: 50%;
}

.btn-bg {
    margin-top: 1.5rem;
    background: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    border-radius: 0.75rem;
    width: 100%;
}

button {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    color: var(--text-wt);
    font-size: 1.8rem;
    background-color: var(--text-dark);
    border-radius: 0.75rem;
    letter-spacing: 0.1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0rem;
}

button:hover {
    background-color: transparent;
    transition: background-color 0.3s;
}

#name-err, #num-err {
    font-size: 1rem;
    color: var(--err-red);
    margin-top: 1rem;
}

.error-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.error-container p {
    width: 50%;
    margin-top: 1rem;
    color: var(--err-red);
}

.container-complete {
    margin-top: 40%;
    margin-bottom: 4rem;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateY(10rem);
    opacity: 0;
}

.complete-title {
    font-size: 2.6rem;
    letter-spacing: 0.3rem;
    color: var(--text-dark);
    margin-top: 3rem;
}

.complete-title-sub {
    font-size: 1.8rem;
    color: var(--text-grey-b);
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
}

.btn-bg-reset {
    margin-top: 1.5rem;
    background: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    border-radius: 0.75rem;
    width: 100%;
    opacity: 0;
}

@media only screen and (min-width: 840px) {

    main {
        height: 100vh;
        background-image: url("./images//bg-main-desktop.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10% 10%;
    }

    .container-a {
        position: relative;
        width: clamp(36rem, 50%, 52.5rem);
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-height: 500rem;
        aspect-ratio: 1;
    }

    .container-b {
        flex-grow: 0;
        position: relative;
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-height: 50rem;
    }

    #card-form {
        max-width: 35rem;
        margin-top: 0rem;
    }

    .card-front {
        position: absolute;
        left: 0rem;
        top: 0%;
    }

    .card-front{
        position: absolute;
        left: 0rem;
        top: 0%;
    }

    .card-num p {
        font-size: clamp(1.5rem,  -0.56rem + 2.45vw, 3rem);
    }

    .card-info p {
        font-size: clamp(0.8rem, -0.16rem + 1.15vw, 1.5rem);
    }
    
    .card-back {
        position: absolute;
        right: 0rem;
        bottom: 0%;
    }

    .card-back img {
        top: 0rem;
        left: 0rem;
        position: absolute;
        z-index: 0;
        width: 100%;
    }
    
    #card-cvc {
        font-size: clamp(0.8rem, -0.16rem + 1.15vw, 1.5rem);
    }

    .container-complete {
        margin: 0rem;
    }
  }




